.container {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.picture {
  max-width: 300px;
  max-height: 300px;
  margin: 40px;
  position: relative;
  background-image: url('https://scontent.fsnc1-1.fna.fbcdn.net/v/t31.0-8/26198661_1763582710320517_4499865928945402542_o.jpg?oh=ae4963755d3cd2330f1442123493a540&oe=5ABB27B1');
}

.text {
  text-align: center;
  margin-left: 10%;
}
