<div class = 'container'>
    <div class = "picture col-sm-4">
      <img src = "assets/img/picture.jpg">
    </div>
    <div class = "row">
    <div class = "text col-sm-4">
      <h3> Hi, Im Haley </h3>
      <h5><em>"The Journey of a thousand miles begins with a single step..."</em></h5>
      <p>
        I'm a doodle mom, bagel enthusiast, and programmer-in-training currently residing in the Silicon Forest. My roots come from the plains of Montana, where I grew up with a love and passion for everything outdoors. </p>
      <p> Today, I am enthusiastic about learning. Continuous improvement is my mantra, and I can't wait to see where the next adventure takes me!</p>
      <a href="https://www.linkedin.com/in/haleyswain/"><img src="https://img.clipartfest.com/3b699171bf127b4583f94e6b88e9536f_read-our-linkedin-handout-for-linkedin-clipart-transparent-background_1000-1000.png" id="linkedin"></a>
      <br>
      <a href="https://github.com/haleyswain"><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" id="github"></a>
    </div>
  </div>
</div>
<hr>
<br>
